<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="common/header.html"></header>

<!--여기는 관심 주식의 목록과 달력이 들어갈 것-->

<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">관심주식</th>
            <th scope="col">매매일지</th>
        </tr>
        </thead>
        <tbody>
            <td>
                <a th:href="@{/stock}">나의 관심주식 더보기</a>
            </td>
            <td>
                <a th:href="@{/list}">나의 매매일지 더보기</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>